
multiprojtest/\.gradle/

multiprojtest/buildSrc/\.gradle/

multiprojtest/the-cics-bundle/build/

multiprojtest/\.idea/

multiprojtest/buildSrc/build/

multiprojtest/\.settings/

multiprojtest/helloworldwar/bin/

multiprojtest/helloworldwar/build/

multiprojtest/helloworldwar/\.gradle/

multiprojtest/helloworldwar/\.idea/

multiprojtest/helloworldwar/\.settings/

multiprojtest/helloworldwar/\.classpath

multiprojtest/helloworldwar/\.project

multiprojtest/\.project
