\.gradle/
\.idea/
\.project
\.settings/
buildSrc/\.gradle/
buildSrc/build/
buildSrc/build/reports/
helloworldwar/\.classpath
helloworldwar/\.gradle/
helloworldwar/\.idea/
helloworldwar/\.project
helloworldwar/\.settings/
helloworldwar/bin/
helloworldwar/build/
the-cics-bundle/build/
